<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">
    <link href="./static/lock.ico" rel="icon">
    <title>aex-Z Password-Checker</title>

</head>
<body>
    <header>
        <nav>
            <div class="navbar">
                <a href="/index.html">Home</a>
                <div class="dropdown">
                  <button class="dropbtn">My portfo
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a href="#">Comming soon</a>
                  </div>
                </div>
                <div class="logo-container">
                    <img src="./static/lock.ico" alt="logo"  height="30" width="30">
                </div>
                <p class="logo-name">aex-Z</p>
              </div>
        </nav>
    </header>
        

    <main>
        <section class="content_form" align="center">
            <p>Thank you! I will get in touch with you, shortly!</p><br>
        </section>
    </main>
</body>
<footer class="bottomtext"><h4></h4></footer>
</html>